/* ------------------------------- Definitions ------------------------------ */
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-bold-webfont.woff');
    font-weight: bold;
}
/* ---------------------------- Generic selectors --------------------------- */
body {
    opacity: 0.9;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: black;
}
img {
    height: 100px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
h4 {
    font-size: 22px;
    font-weight: bold;
    padding: 15px;
}
h5 {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}
/* --------------------------- Structural elements -------------------------- */
header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 69px;
    padding: 0 10px;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1;
    & .logo {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        & img {
            height: 50px;
        }
    }
    & li {
        display: inline-block;
        margin-left: 20px;
    }
    & a {
        color: seashell;
    }
    & a:hover {
        color: rgb(207, 32, 32);
    }
}
main {
    margin: 0 60px;
    position: relative;
    top: 69px;
    padding-bottom: 69px;
    & .jambotron {
        background-image: url('../images/img-mission-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h2,
        & h4 {
            background-color: black;
        }
    }
    & .product-row {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 0 auto;
        justify-content: center;
        & figure {
            margin-bottom: 15px;
        }
        & img {
            height: 200px;
            width: 300px;
            margin: 15px;
        }
        & figcaption {
            font-size: 20px;
            font-weight: bold;
        }
    }
    & .locations {
        min-height: 460px;
        padding: 20px;
        background-image: url('../images/img-locations-background.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: bottom;
        & .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            & .location {
                background-color: black;
                width: 300px;
                margin: 0 20px 40px 20px;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
    & .contact {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
footer {
    text-align: left;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
