/* Layout da página */
#l-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Layout do header */
#l-header {
    padding: 20px;
}

/* Layout do main */
#l-main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* Layout do footer */
#l-footer {
    padding: 10px;
}