@layer settings, tools, base, layout, module, theme, state, utilities;

@layer settings {

    /* Cores */
    :root {
        --t-primary-color: #3A608F;
        --t-on-primary: #FFFFFF;
        --t-secondary-container: #FFDBCB;
        --t-on-secondary-container: #341100;
        --t-surface-color: #F5FBF6;
        --t-on-surface-color: #171D1A;
        --t-on-surface-variant: #4B4739;
        --t-surface-container: #E9EFEB;
        --t-surface-container-low: #EFF5F0;
        --t-surface-container-lowest: #FFFFFF;
        --t-outline: #7C7767;
        --t-outline-variant: #CDC6B4;
        --t-shadow: rgba(0, 0, 0, 0.1);
    }

    /* Fontes */
    :root {
        --t-primary-font-family: 'Roboto', sans-serif;
    }
}

@import url('normalize.css') layer(base);

@layer base {
    html {
        font-family: Roboto, sans-serif;
    }
}

@layer layout {

    /* Layout da página */
    #page {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    /* Layout do header */
    #header {
        padding: 20px;
    }

    /* Layout do main */
    #main {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    /* Layout do footer */
    #footer {
        padding: 10px;
    }
}

@layer module {

    /* Conteúdo do Header */
    .header__titulo {
        text-align: center;
        font-size: 32px;
        margin: 0;
    }

    /* Layout do container de cartões */
    .card-container {
        display: flex;
        gap: 20px;
        margin: 20px;
    }

    /* Layout do cartão */
    .card {
        padding: 20px;
    }

    /* Conteúdo do Card */
    .card__titulo {
        font-size: 24px;
    }

    /* Conteúdo do Card */
    .card__texto {
        font-size: 14px;
    }

    /* Estrutura do Botão */
    .botao {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
    }

    /* Conteúdo do Footer */
    .footer__texto {
        font-size: 14px;
        margin: 0;
        text-align: center;
    }
}

@layer state {
    .card--is-hidden {
        display: none;
    }

    /* Estado do Botão */
    .botao:hover {
        filter: brightness(0.9);
    }

    /* Estado do Botão */
    .botao:active {
        filter: brightness(0.8);
    }
}

@layer theme {

    /** Skin do Botão Primário */
    .t-botao__primario {
        background-color: var(--t-primary-color);
        color: var(--t-on-primary);
    }

    /* Skin do Botão Secundário */
    .t-botao__secundario {
        background-color: var(--t-secondary-container);
        color: var(--t-on-secondary-container);
    }

    /** Cores do Card */
    .t-card__titulo {
        color: var(--t-on-surface-color);
    }

    .t-card__texto {
        color: var(--t-on-surface-variant);
    }

    .t-card__primario {
        background-color: var(--t-surface-container);
        border: 1px solid var(--t-outline);
        border-radius: 15px;
        box-shadow: 0 4px 6px var(--t-shadow);
    }

    .t-card__secundario {
        background-color: var(--t-surface-container-low);
        border: 1px solid var(--t-outline-variant);
        border-radius: 15px;
        box-shadow: 0 4px 6px var(--t-shadow);
    }

    /** Cores do Header */
    .t-header {
        background-color: var(--t-surface-color);
    }

    .t-header__titulo {
        color: var(--t-on-surface-color);
    }

    /** Cores do Footer */
    .t-footer {
        background-color: var(--t-surface-color);
    }

    .t-footer__texto {
        color: var(--t-on-surface-color);
    }
}

@layer utilities {
    .body-font {
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }

    .title-font {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }

    .p-font {
        font-family: Georgia, "Times New Roman", serif;
    }

    .code-font,
    .pre-font {
        font-family: "Courier New", monospace;
    }

    .tahoma-text {
        font-family: Tahoma, Geneva, sans-serif;
    }

    .lucida-text {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

    .roboto-text {
        font-family: 'Roboto', sans-serif;
    }

    .open-sans-text {
        font-family: 'Open Sans', sans-serif;
    }

    .lato-text {
        font-family: 'Lato', sans-serif;
    }

    .montserrat-text {
        font-family: 'Montserrat', sans-serif;
    }
}