@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    /* border: 0.2px dotted rgba(0, 0, 0, 0.527); */
}

body {
    margin: 0;
    background-image: linear-gradient(359deg, #3023ae, #eb7f7b);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: rgba(120, 70, 154, 0.2);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 10px 1fr 3fr 1fr;
    grid-template-areas: "space1 searchbar title space2";
    text-align: center;
    align-items: center;
}

.navbar h1 {
    grid-area: title;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

.search-bar {
    grid-area: searchbar;
    background-color: rgba(255, 255, 255, 0.35);
    height: 40px;
}

.search-icon {
    float: left;
    margin: 10px 0 0 10px;
}

.site-body {
    margin-left: 50px;
    margin-top: 50px;
}

.container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-column {
    background-color: white;
    min-height: 700px;
    display: grid;
    grid-template-rows: 20px repeat(5, 100px);
    gap: 10px;
    grid-auto-rows: 100px;
}

.taskgroup-heading {
	margin-left: 15px;
	margin-top: 7px;
}

.card-column h2 {
    margin: 0 auto;
    font-family: "Work Sans";
    font-size: 16px;
    color: #2f2f2f;
    display: inline-block;
}

.ellipsis-icon {
    float: right;
    margin-right: 15px;
}

.card-column input {
    border: none;
    background: transparent;
    font-size: 14px;
    margin-left: 15px;
}

.card {
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgba(216, 216, 216, 0.21);
    border: solid 1px rgba(151, 151, 151, 0.21);
    position: relative;
}

.rectangle {
    width: 57px;
    height: 6px;
    display: inline-block;
    margin-left: 7px;
}

.yellow {
    background-color: #fdcb1e;
}

.orange {
    background-color: #ff7700;
}

.green {
    background-color: #50e3c2;
}

.blue {
    background-color: #3343e5;
}

.list-icon {
    display: inline-block;
    margin-left: 7px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
}

.task-date {
    display: inline-block;
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #9b9b9b;
    margin-bottom: 5px;
    left: 25px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

.task-description {
	margin-left: 7px;
	margin-top: 0;
	font-family: "Work Sans";
	font-size: 14px;
	text-align: left;
	color: #2f2f2f;
}