@import url("styles2.css") layer(teste);

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* A classe container usada em vários divs define um pequeno padding lateral, uma largura máxima e margin auto que o centraliza */
.container {
    margin: 0 auto;
    max-width: 940px;
    padding: 0 10px;
}

/* O header é o topo da página, com um fundo de imagem que cobre toda a largura e altura do elemento usando background-size: cover e height: 800px. A imagem de fundo é centralizada com background: url(../images/jumbotron_bg.jpg) center center. O texto é centralizado verticalmente e horizontalmente com text-align: center */
header {
    background: url(../images/bg.jpg) center center;
    background-size: cover;
    height: 800px;
    text-align: center;
}

/* O container do header é posicionado relativamente */
header .container {
    position: relative;
    top: 200px;
}

/* O h1 dentro do header tem uma cor branca, um tamanho de fonte de 80px, um espaçamento de linha de 100px, margem superior de 0 e inferior de 80px e texto em maiúsculas */
header h1 {
    color: #fff;
    line-height: 100px;
    font-size: 80px;
    text-transform: uppercase;
    /* Margem inferior */
    margin-top: 0;
    margin-bottom: 80px;
}

/*  Fonte de 120px para telas maiores que 850px */
@media (min-width:850px) {
    header h1 {
        font-size: 120px;
    }
}

header p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 500;
    /* Margem inferior */
    margin-bottom: 40px;
    margin-top: 0;
}

/* O botão tem fonte branca, padding, fundo preto */
.btn {
    color: #fff;
    padding: 10px 40px;
    background: #000;
    text-decoration: none;
    transition: background .5s;
}

.btn:hover,
nav ul li:hover {
    background: #117bff;
    cursor: pointer;
    transition: background .5s;
}

/* Nav tem um section.container no seu interior, define altura 80px. O li precisa ter line height 80px para centralizar o texto verticalmente. O ul com margem e padding removidos, mas os li com inline-block */
nav {
    background: #000;
    color: #fff;
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    /* Em linha, mas com área */
    display: inline-block;
    line-height: 80px;
    padding: 0 10px;
    transition: background .5s;
}

/* Apesar de .container definir outra regra para padding, a regra abaixo sobrescreve a anterior */
main>.container {
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Imagem posicionada com float left e margens dos quatro lados */
main figure {
    float: left;
    margin: 50px 80px 50px 0;
}

/* Definida a altura do jumbotron com 600px, imagem de fundo centralizada e cobrindo todo o elemento (background-size: cover) */
main .jumbotron {
    background: url(../images/jumbotron_bg.jpg) center center;
    background-size: cover;
    height: 600px;
}

.jumbotron section {
    color: #fff;
    text-align: right;
    position: relative;
    top: 220px;
}

/* A margem vertical não tem efeito de separação em elementos inline, portanto usar inline-block ou float right */
.jumbotron .btn {
    margin: 10px 0 0;
    display: inline-block;
}

/* O elemento footer define um height e o mesmo line-height está no parágrafo. A margem do parágrafo é 0. Para dar mais espaço embaixo, um padding-bottom de 50px no footer */
footer {
    color: #fff;
    background: #000;
    font-size: 14px;
    height: 80px;
    padding-bottom: 50px;
}

footer p {
    line-height: 80px;
    margin: 0;
}